header{
   display: flex;
   background-color: black;
   justify-content: space-between;
   
   height: 70px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
}

.left-section{
    display: flex;
    /* gap: 10px; */
    /* margin: 0px 0 0 20px; */
    align-items: center;
    /* margin: 0 -500px 0 0; */
}

.logo img{
    width: 40px;
    margin: 0 16px 0 30px;
}

.name{
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 0 0 50px;
}

.nav{
    margin: 0 10px 0 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover{
    color: rgb(238, 151, 151);
}

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-us{
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

